aws_region        = "us-east-1"
github_repository = "OWNER/DreamCatcherAI"
availability_zones = [
  "us-east-1a",
  "us-east-1b"
]

container_image = "public.ecr.aws/docker/library/nginx:stable-alpine"

callback_urls = [
  "https://dreamlens.example.com"
]

logout_urls = [
  "https://dreamlens.example.com"
]

alert_email = null
