aws_region        = "us-east-1"
github_repository = "OWNER/DreamCatcherAI"
availability_zones = [
  "us-east-1a",
  "us-east-1b"
]

container_image = "public.ecr.aws/docker/library/nginx:stable-alpine"

callback_urls = [
  "https://qa.dreamdna.world"
]

logout_urls = [
  "https://qa.dreamdna.world"
]

alert_email = null

web_domain_aliases = [
  "qa.dreamdna.world"
]

web_acm_certificate_arn = "arn:aws:acm:us-east-1:ACCOUNT_ID:certificate/WEB_CERTIFICATE_ID"
api_acm_certificate_arn = "arn:aws:acm:us-east-1:ACCOUNT_ID:certificate/API_CERTIFICATE_ID"
hosted_zone_id          = "REPLACE_WITH_ROUTE53_HOSTED_ZONE_ID"
api_domain_name         = "api.qa.dreamdna.world"
